._btn_13rqm_1 {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: .5rem;
    font-weight: 700;
    cursor: pounter;
    color: #000
}

._btn_13rqm_1._active_13rqm_14 {
    background-color: #64c362;
    color: #fff
}

._btn_13rqm_1._inactive_13rqm_20 {
    opacity: .3
}

._btn_13rqm_1:hover:not(:disabled),._btn_13rqm_1:focus:not(:disabled) {
    background-color: #959595
}
